/*
Error: Undefined mixin 'box-shadow'.
        on line 6 of /Users/Aadesh/Projects/FINTECH-UI/app/styles/partials/header.scss, in `box-shadow'
        from line 6 of /Users/Aadesh/Projects/FINTECH-UI/app/styles/partials/header.scss

1: nav {
2:   @extend .navbar;
3:   @extend .navbar-default;
4:   @extend .navbar-fixed-top;
5:   background: white;
6:   @include box-shadow(0 1px 2px 0px rgba(0,0,0,0.10));
7: 
8:   // NAVBAR HEADER
9:   .navbar-header {
10:     margin-right: $grid-gutter-width/2;
11:     margin-left: $grid-gutter-width/2;

Backtrace:
/Users/Aadesh/Projects/FINTECH-UI/app/styles/partials/header.scss:6:in `box-shadow'
/Users/Aadesh/Projects/FINTECH-UI/app/styles/partials/header.scss:6
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:338:in `visit_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:98:in `with_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:98:in `with_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/engine.rb:268:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Library/Ruby/Gems/1.8/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-1.0.1/bin/compass:30
/Library/Ruby/Gems/1.8/gems/compass-1.0.1/bin/compass:44:in `call'
/Library/Ruby/Gems/1.8/gems/compass-1.0.1/bin/compass:44
/usr/bin/compass:23:in `load'
/usr/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'box-shadow'.\A         on line 6 of /Users/Aadesh/Projects/FINTECH-UI/app/styles/partials/header.scss, in `box-shadow'\A         from line 6 of /Users/Aadesh/Projects/FINTECH-UI/app/styles/partials/header.scss\A \A 1: nav {\A 2:   @extend .navbar;\A 3:   @extend .navbar-default;\A 4:   @extend .navbar-fixed-top;\A 5:   background: white;\A 6:   @include box-shadow(0 1px 2px 0px rgba(0,0,0,0.10));\A 7: \A 8:   // NAVBAR HEADER\A 9:   .navbar-header {\A 10:     margin-right: $grid-gutter-width/2;\A 11:     margin-left: $grid-gutter-width/2;"; }
